//- table.table
//-   thead
//-     tr
//-       th Customer Name
//-       th Company
//-       th Phone Number
//-       th Email
//-       th Country
//-       th Status
//-   tbody
//-      tr
//-       td= item.customerName
//-       td= item.company
//-       td= item.phoneNumber 
//-       td= item.email
//-       td= item.country 
//-       td= item.status
    
