table.table
  thead
    tr
      th ID
      th Name
      th Age
      th Email
  tbody
    each item in data
      tr
        td= item.id
        td= item.name
        td= item.age
        td= item.email
