table.table
  thead
    tr
      th ID
      th Name
      th Age
      th Email
  tbody
    if data.length 
      each item in data
        tr
          td= item.id
          td= item.name
          td= item.email
    else
      tr
        td(colspan="3") No data available
