doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Dashboard
    link(rel="stylesheet" href="../scss/main.scss")
    link(rel="alternate", href="atom.xml", type="application/atom+xml", title="Atom")
    link(rel="stylesheet", href="../scss/blocks/_header.scss")
  body
    .dashboard
      //- Sidebar
      aside.sidebar
        .logo
          picture
            source(media="(min-width: 769px)" srcset="../assets/img/logo.png")
            source(media="(max-width: 768px)" srcset="../assets/img/logo.png")
            img(src="../assets/img/logo.png", alt="Dashboard Logo")
          span Dashboard v.01
        nav.menu
          ul
            li.menu-item
            img(src="../assets/img/key-square.png", alt="Dashboard")
              a(href="/dashboard") Dashboard
            li.menu-item
            img(src="../assets/img/3d-square 1.png", alt="Product")
              a(href="/product") Product
            li.menu-item.active
            img(src="../assets/img/user-square 1v.png", alt="Customers")
              a(href="/customers") Customers
            li.menu-item
            img(src="../assets/img/wallet-money 2.png", alt="Income")
              a(href="/income") Income
            li.menu-item
            img(src="../assets/img/discount-shape 1.png", alt="Promote")
              a(href="/promote") Promote
            li.menu-item
            img(src="../assets/img/message-question 1.png", alt="Message")
              a(href="/help") Help
        .user-info
          img(src="../assets/img/Ellipse 8.png", alt="User Image")
          span Evano
          small Project Manager

      //- Main Content
      main.content
        .header
          h1 Hello Evano 👋
        .customers
          .customers-header
            h2 All Customers
            a.active(href="#" role="button") Active Members
            //- Search Input
            .search-bar
              input(type="text" placeholder="Search")
              button(type="button") Search 
          //- Table
          table.customers-table
            thead
              tr
                th Customer Name
                th Company
                th Phone Number
                th Email
                th Country
                th Status
            tbody
              tr
                td Jane Cooper
                td Microsoft
                td (225) 555-0118
                td jane@microsoft.com
                td United States
                td.status.active Active
              tr
                td Floyd Miles
                td Yahoo
                td (205) 555-0100
                td floyd@yahoo.com
                td Kiribati
                td.status.inactive Inactive
              tr 
                td Ronald Richards
                td Adobe
                td (302) 555-0107
                td ronald@adobe.com
                td Israel
                td.status.inactive Inactive
              tr 
                td Marvin McKinney
                td Tesla
                td (252) 555-0126
                td marvin@tesla.com
                td Iran
                td.status.active Active
              tr 
                td Jerome Bell
                td Google
                td (629) 555-0129
                td jerome@google.com
                td Réunion
                td.status.active Active
              tr 
                td Kathryn Murphy
                td Microsoft
                td (406) 555-0120
                td kathryn@microsoft.com
                td Curaçao
                td.status.active Active
              tr 
                td Jacob Jones
                td Yahoo
                td (208) 555-0112
                td jacob@yahoo.com
                td Brazil
                td.status.active Active
              tr 
                td Kristin Watson
                td Facebook
                td (704) 555-0127
                td kristin@facebook.com
                td Åland Islands
                td.status.inactive Inactive
              //- Add more rows as needed
          //- Pagination
          .pagination
            span Showing data 1 to 8 of 256K entries
            ul.pagination-list(aria-label="Pagination")
              li.page-item
                a(href="#") 1
              li.page-item
                a(href="#") 2
              li.page-item
                a(href="#") 3
              li.page-item
                a(href="#") 4
              li.page-item
                a(href="#") ...
              li.page-item
                a(href="#") 40
  
      