@use "blocks/side-menu.scss";
@use "blocks/table.scss";
@use "blocks/pagination.scss";
@use "blocks/header.scss";
@use "base/fonts.scss";

:root {
  --primary-text-color: #292d32;
  --secondary-text-color: #b5b7c0;
  --active-color: #00b087;
  --inactive-color: #df0404;
  --background-color: #ffffff;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

ul,
ol,
a {
  list-style-type: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 1198px;
}

@media (min-width: 375px) {
  .container {
    max-width: 335px;
  }
}
@media (min-width: 768px) {
  section {
    padding: 8px 0;
  }
  .container {
    padding: 0 16px;
    max-width: 736px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1408px;
  }
}
